
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}
h1 {
    color: black;
}
.friends {
    background-color: beige;
    display: inline-block;
    padding: 20px 30px;
    width: 80%;
    border-radius: 10px;
    margin: 20px 10%;
}
.friends p{
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 20px;
}
.btn{
    text-align: center;
    margin-top: 20px;
}

#button {
    padding: 10px 20px;
    cursor: pointer;
}
